/*
-- 1. TYPOGRAGHY SYSTEM
  -Font Sizes (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  -Font Weights
    Default: 400
  -Line Heights
    Deafault: 1

  -- 2. SPACING SYSTEM
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

  --- 3. COLORS
  -Primary: #e67e22
  -Tints: #fdf2e9
  -Shades: #cf711f
  -Accents
  -Grays: #555 #333

  --- 4. SHADOWAS
  --- 5. BORDER RADIUS

*/

/* -------------------------------- */

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
/* -------------------------- */
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik" , sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* ----------------------------- */
/* If we choose section-hero class as a container we couldn't create a fixed size container*/

/********************/
/* REUSABLE COMPONENTS */
/********************/
.btn:link , .btn:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  border-radius: 9px;
  font-weight: 600;
}
.btn--CTA:link , .btn--CTA:visited{
  background-color: #e67e22;
  color: white;
}
.btn--CTA:hover , .btn--CTA:active{
  background-color: #cf711f;
}
.btn--outline:link , 
.btn--outline:visited {
background-color: #fff;
color: #555;
}
.btn--outline:hover, 
.btn--outline:active {
background-color: #fdf2e9;
box-shadow: inset 0 0 0 3px #fff;
}
.margin-right-sm {
  margin-right: 1.6rem !important;
}
/********************/
/* HEADER */
/********************/
.header {
  background-color: #fdf2e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem; /*bc we want header to be sticky*/
  padding: 0 4.8rem;
}
.header-logo {
  height: 2.2rem;
}





/********************/
/* HERO SECTION */
/********************/
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0; /* preserve the background color - we always do this when we have background color */
}
.hero {
  display: grid; /* the same tool for layout across to entire page and also the size */
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  gap: 9.6rem; /* like padding*/
  align-items: center;
}

.hero-heading {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-image {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img{
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.delivered-imgs img:last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}
/* --------------------------- */