
/********************/
/* HEADER */
/********************/
.header {
  background-color: #f7ce18;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem; /*bc we want header to be sticky*/
  padding: 0 4.8rem;
  position: relative;
}

/********************/
/* Sticky  */
/********************/
.sticky .header {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  /* background-color: rgba(255, 255, 255, 0.97); */
background-color: rgba(247, 206, 24, 0.95);
  height: 8rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0,0,0,0.03);
}
.sticky .section-hero {
  margin-top: 9.6rem;
}
/* ------------------------- */
.header-logo {
  font-size: 3.6rem;
  color: #e03131;
  letter-spacing: 2.75px;

}
.main-nav-list {
  display: flex;
  gap: 4.8rem;
  align-items: center;
}
.main-nav-link:link , 
.main-nav-link:visited {
display: inline-block;
color: #333;
font-weight: 500;
font-size: 1.8rem;
transition: all 0.3s;
}
.main-nav-link:hover , 
.main-nav-link:active  {
  color: #e03131;
}

.main-nav-link.nav-CTA:link , 
.main-nav-link.nav-CTA:visited {
  padding: 1.2rem 2.4rem;
  background-color: #e03131;
  border-radius: 9px;
  color: white;
} 
.main-nav-link.nav-CTA:hover , 
.main-nav-link.nav-CTA:active {
  background-color: #f03e3e;
} 
.language-btn-container {
  display: flex;
  gap: 1.2rem;
  background-color: #fff;
  border-radius: 30px;
  width: 22rem;
  position: relative;
}
.language-active {
  position: absolute;
  background-color: #e67e22;
  width: 11rem;
  height: 100%;
  border-radius: 30px;
  left: 0;
  top: 0;
  transition: all 0.5s;
}
.language-btn {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 1rem 0.4rem;
  cursor: pointer;
  flex: 1;
  position: relative;
  box-shadow: none;
  color: #555;
  font-weight: 600;
}

.hamburger {
  width: 2.4rem;
  height: 2.4rem;
  border: none;
  position: relative;
  background-color: transparent;
  transition: all 0.25s;
  cursor: pointer;
  box-shadow: none;
  z-index: 99999;
  display: none;
}
.hamburger-top , .hamburger-middle , .hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
   background-color: #ffff ;
  transform: rotate(0);
  transition: all 0.5s;
}
.hamburger-middle {
  transform: translateY(0.7rem);
}
.hamburger-bottom {
  transform: translateY(1.4rem);
}
.open {
  transform: rotate(90deg);
}
.open  .hamburger-middle {
  display: none;
}
.open  .hamburger-top {
  transform: rotate(45deg) translateX(0.6rem) translateY(0.6rem)
}
.open  .hamburger-bottom {
  transform: rotate(-45deg) translateX(-0.6rem) translateY(0.6rem)
}

.mobile-menu {
  opacity: 0;
  background-color: rgba(43, 43, 43, 0.95);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: all 0.6s ease-in;
  display: flex;
  z-index: 9999;
}
.mobile.main-nav-list {
  display: flex;
  flex-direction: column;
}
.mobile-menu .main-nav-link {
  font-size: 2.4rem;
  color: #ffff;
}
.show-menu {
  display: flex;
  transform: translateX(0%);
  opacity: 1;
}

/********************/
/* HERO SECTION */
/********************/
/* ----------------------------- */
/* If we choose section-hero class as a container we couldn't create a fixed size container*/
.section-hero {
  background-color: #f7ce18;
  padding: 4.8rem 0 9.6rem 0; /* preserve the background color - we always do this when we have background color */
}
.hero {
  display: grid; /* the same tool for layout across to entire page and also the size */
  grid-template-columns: 1fr 1fr;
  max-width: 130rem; /*I'd like to be wider than the other contents*/
  margin: 0 auto;
  padding: 0 3.2rem;
  gap: 9.6rem; /* like padding*/
  align-items: center;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

 .swiper {
  width: 100%;
  border-radius: 15px;
}

.swiper-slide img {
      width: 100%;
      height: 36rem;
      object-fit: cover;
      display: block;
    } 


.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img{
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fa5252;
}
.delivered-imgs img:last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  color: #e03131;
  font-weight: 700;
}
/********************/
/* FEATURED IN SECTION */
/********************/
.featured-section {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}
.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.featured-logo {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
/********************/
/* HOW IT WORKS SECTION */
/********************/
.section-how {
  padding: 9.6rem 0;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
   
}
.step-img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-img {
  width: 100%;
}
/********************/
/* MEALS SECTION */
/********************/
.meals-section {
  padding: 9.6rem 0;
}

.meal {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.065);
  }

.meal-img {
  width: 100%;
}
.meal-content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.4rem 3.2rem 0 3.2rem;
}

.meal-title {
font-size: 2.4rem;
color: #333;
font-weight: 600;
text-align: center;
}
.meal-attributes {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.meal-attribute {
  font-size: 1.6rem;
  display: flex;
  gap: 1.6rem;
}
.meal-icon {
  font-size: 2.4rem;
  color: #f7ce18;
}
.meal-price {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  margin-top: auto;
  text-align: center;
}
.all-recipes {
  font-size: 1.8rem;
  text-align: center;
}
/********************/
/* TESTIMONIALS SECTION */
/********************/
.testimonials-section {
  background-color: #f7ce18;

  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testimonials-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonials {
  padding: 9.6rem
}
.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.galley-item {
  overflow: hidden;
  border-radius: 11px;
}
.gallery-img {
  display: block; /*Images are inline that's why there is a space between images*/
  width: 100%;  
  transition: all 0.4s;
}
.gallery-img:hover {
  transform: scale(1.1);
}
/********************/
/* CTA SECTION */
/********************/
.cta-section {
  padding: 9.6rem 0;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom , #f7d22c , #f7ce18);
 box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
 border-radius: 15px;
 overflow: hidden;
}
.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}
.cta-text-box .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input , .cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  background-color: #fdf2e9;
  color: inherit;
}
.cta-form input::placeholder {
  color: #aaa;
}

.cta-image-box {
  background-image: linear-gradient(to right bottom , rgba(240, 202, 32, 0.35), rgba(244, 202, 13, 0.35)) , url("../img/eating.jpg");
  background-position: center;
  background-size: cover;
}
.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 8px rgba(253, 242, 233, 0.5);
}
/********************/
/* FOOTER  */
/********************/
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}
.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 3.2rem;
}
.social-links {
  display: flex;
  gap: 2.4rem;
}
.social-icon {
  font-size: 2.4rem;
}
.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-nav-link:link , 
.footer-nav-link:visited {
  color: #767676;
  font-size: 1.6rem;
  transition: all 0.3s;
}
.footer-nav-link:hover , 
.footer-nav-link:active {
  color: #555;
}
.to-top {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  position: fixed;
  bottom: 1.6rem;
  right: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  font-size: 2.4rem;
  cursor: pointer;
  opacity: 0;
  transition: all 0.8s;
}
.scrollUp-btn {
  background-color: #fff;
  color: #000;
  width: calc(100% - 1.2rem);
  height: calc(100% - 1.2rem);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.to-top.active-to-top {
  opacity: 1;
  bottom: 2.4rem;
}